{% extends 'gems/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    {% load static %}
    <!--Login page content here.-->
    <div id="gemsLogin" class="w3-modal" style="display:block">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom w3-theme-l5" style=" max-width:300px;">
            <div id="gemsLoginMessage" class="w3-center w3-container">
                <p style="opacity:.85"><strong> Welcome to the Global Education Management System V.5</strong></p>
                <img id="gems_rjs_logo" src={% static "gems/img/rjslogo.png" %} alt="avatar" class="w3-circle ">
            </div>
         <form class="w3-container" method="post" >
            <div class="w3-container" style="width:100%">
            {% csrf_token %}
            {{ form.as_p}}
            </div>
            <div class="w3-section">
                <button class="w3-btn w3-block w3-theme-l1 w3-section w3-padding " style="box-shadow: 1px 1px  5px #444;" type="submit">Login</button>
            </div>
	    </form>			
    </div>
{% endblock %}