{% extends 'gems/report_base.html' %}

{% block container %}
    <h1 class="w3-panel w3-theme-d3">Enrolled students for: {{classroom}}</h1>
    <table class="w3-table-all w3-small">
        <tr class="w3-theme-d1"><th>IDOC</th><th>Last Name</th><th>Classroom</th><th>Housing Unit</th></tr>
        {% for student in enrolled_students%}
            <tr><td>{{student.IDOC}}</td><td>{{student.last_name}}</td><td>{{student.classroom}}</td><td>{{student.housing_unit}}</td></tr>
        {% endfor %}
    </table>
{% endblock %}