{% extends 'gems/report_base.html' %}

{% block container %}
    <h1 class="w3-panel w3-xxlarge w3-theme-d3">
        Test scores for {{test}} <br> from: {{date_from}} to: {{date_to}}
    </h1>
    <h5>Sort this table by clicking on the row which you would like the table to be sorted on.</h3>
    <table class="w3-table-all" id="gems_report_table">
        <tr class="w3-theme-d1">
            <th onclick="w3.sortHTML('#gems_report_table','.item', 'td:nth-child(1)')" >IDOC</th>
            <th onclick="w3.sortHTML('#gems_report_table','.item', 'td:nth-child(2)')">Last Name</th>
            <th>First Name</th>
            <th onclick="w3.sortHTML('#gems_report_table','.item', 'td:nth-child(4)')">Test Name</th>
            <th>Score</th>
            <th>Passing Score</th>
            <th onclick="w3.sortHTML('#gems_report_table','.item', 'td:nth-child(6)')">Test Date</th>
        </tr>
        {% for record in records %}
            <tr class=" w3-small item">
                <td>{{record.IDOC}}</td>
                <td>{{record.last_name}}</td>
                <td>{{record.first_name}}</td>
                <td>{{record.test}}</td>
                <td>{{record.test_score}}</td>
                <td>{{record.passing_score}}</td>
                <td>{{record.test_date}}</td>
        {% endfor %}
    </table>

{% endblock %}