<head>
	<title>Global Education Management System v.5 Theme Preview</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
	<link rel="stylesheet" href={% static "gems/css/w3pro.css" %}>
    <link rel="stylesheet" href={% static "gems/css/gems4.css" %}>
	<link  rel="stylesheet" href={% static theme %}>
</head>

<body>
	<div class="w3-small">
	<h5 class="w3-center">This is a preview of the selected/current theme</h5>
	<?php echo 'Theme = '.$theme; ?>
	<div class="w3-container w3-theme w3-card-2">
	<h1>Selected Theme</h1>
	</div>
	<div class="w3-container w3-text-theme">
	<h2>w3-text-theme</h2></div>

	<ul class="w3-ul w3-border-top">
	  <li class="w3-theme-l5">
	  <!-- <a class="w3-button w3-xlarge w3-circle w3-theme-action"
	  style="position:fixed;top:48px;right:24px;">+</a>-->
	  <p>w3-theme-l5 (w3-theme-light)</p>
	  </li>
	  <li class="w3-theme-l4">
		<p>w3-theme-l4</p>
	  </li>
	  <li class="w3-theme-l3">
		<p>w3-theme-l3</p>
	  </li>
	  <li class="w3-theme-l2">
		<p>w3-theme-l2</p>
	  </li>
	  <li class="w3-theme-l1">
		<p>w3-theme-l1</p>
	  </li>
	  <li class="w3-theme">
		<p>w3-theme</p>
	  </li>
	  <li class="w3-theme-d1">
		<p>w3-theme-d1</p>
	  </li>
	  <li class="w3-theme-d2">
		<p>w3-theme-d2</p>
	  </li>
	  <li class="w3-theme-d3">
		<p>w3-theme-d3</p>
	  </li>
	  <li class="w3-theme-d4">
		<p>w3-theme-d4</p>
	  </li>
	  <li class="w3-theme-d5">
		<p>w3-theme-d5 (w3-theme-dark)</p>
	  </li>
	</ul>
	</div>
	<h3 class="w3-center">Here is a table sample.</h3>
	<table class="w3-table-all w3-hoverable">
		<tr class="w3-theme-d3"><th>Column 1</th><th>Column 2</th><th>Column 3</th></tr>
		<tr><td>Test</td><td>Test</td><td>Test</td></tr>
		<tr><td>Test</td><td>Test</td><td>Test</td></tr>
		<tr><td>Test</td><td>Test</td><td>Test</td></tr>
	</table>
	</div>
</body>

</html>