.w3-theme-l5 {color:#000 !important; background-color:#fff6f0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#ffe0cc !important}
.w3-theme-l3 {color:#000 !important; background-color:#ffc299 !important}
.w3-theme-l2 {color:#000 !important; background-color:#ffa366 !important}
.w3-theme-l1 {color:#fff !important; background-color:#ff8533 !important}
.w3-theme-d1 {color:#fff !important; background-color:#00007c !important}
.w3-theme-d2 {color:#fff !important; background-color:#00006e !important}
.w3-theme-d3 {color:#fff !important; background-color:#000060 !important}
.w3-theme-d4 {color:#fff !important; background-color:#000053 !important}
.w3-theme-d5 {color:#fff !important; background-color:#000045 !important}

.w3-theme-light {color:#000 !important; background-color:#e9e9ff !important}
.w3-theme-dark {color:#fff !important; background-color:#000045 !important}
.w3-theme-action {color:#fff !important; background-color:#000045 !important}

.w3-theme {color:#fff !important; background-color:#01008c !important}
.w3-text-theme {color:#01008c !important}
.w3-border-theme {border-color:#01008c !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#01008c !important}
.w3-hover-text-theme {color:#01008c !important}
.w3-hover-border-theme:hover {border-color:#01008c !important}
